#outPut {
  margin: auto;
  background-color: #005768;
  height: 500px;
}

#nav {
  justify-content: center;
}

#navText {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#appText {
  text-align: center;
  color: white;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#crdColor {
  background-color: #005768;
}

body {
  background-color: #001c24;
}

#column {
  margin-bottom: 10px;
  margin-right: auto;
}

.city {
  font-size: 50px;
}

.temp {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.hum {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.wind {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.icon {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
